@import '../../sass/variables';

.get-quote-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  // direction: rtl;
  &__title {
    font-size: 2.5rem;
    // color: $color-grey-dark-1;
    font-weight: bold;
    // padding: 1rem;
    // margin-bottom: 12rem;
  }

  &__form {
    text-align: center;
    background-color: $color-grey-light-1;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
    width: 50%;
    .box-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .visa-and-text {
        font-size: 2rem;
        &__icon {
          width: 8rem;
          fill: $color-grey-dark-2;
          margin: 0 0.5rem;
        }
      }
    }
  }
  @media (max-width: 992px) {
    &__form {
      background-color: #faf9f9;
      padding: 1rem;
      box-shadow: none;
      width: 100%;
    }
  }
}
