@import '../../sass/variables';
.invoice-layout-and-pay-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  .invoice-layout {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    box-shadow: $custom-box-shadow-1;
    border-radius: 0.5rem;
    flex-direction: column;
    font-size: 1.8rem;
    padding: 2.4rem;
    width: 95%;

    &__title {
      .invoice-layout__border-bottom {
        height: 0.15rem;
        background-color: $color-primary;
      }
    }

    &__content {
      width: 95%;

      .invoice-layout__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid $color-primary;
        .logo {
          width: 200px;
        }
        .header-text {
          display: flex;
          flex-direction: column;
          font-weight: bold;
          &__description {
            font-weight: 500;
            margin: 0 0.6rem;
          }
        }
      }
      .table {
        border: 0.1rem solid $color-primary;
        border-radius: 4rem;
        margin: 1.5rem 0;
        text-align: center;

        & td {
          border: 0.1rem solid $color-primary;
          padding: 12px 15px;
        }
        .invoice-table-title {
          font-weight: bold;
        }
      }

      .invoice-layout__notes {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        .invoice-layout__notes-titel {
          font-weight: bold;
        }
        .invoice-layout__notes-description {
          width: 50rem;
        }
      }

      .invoice-layout__footer {
        text-align: center;
        border-top: 0.1rem solid $color-primary;
        padding-top: 1rem;
      }
    }
  }
}
