@import '../../sass/variables';
.secondary-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  &__primary-title {
    text-align: center;
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .about-us-layout {
    padding: 5rem 3rem;
  }
}
