@import '../../sass/variables';

.cv-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: $custom-box-shadow-1;
  font-size: 1.8rem;
  padding: 2rem;
  margin: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  .cv-card__user-name {
    font-weight: bold;
    color: $color-primary;
    font-size: 2.8rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  .cv-card__details {
    color: $color-grey-dark-2;
    text-align: center;
  }

  .basic-information-about-use {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    border-bottom: 0.1rem solid $color-grey-dark-2;
    width: 90%;
    padding-bottom: 1.5rem;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    & > * {
      margin: 0 2rem;
    }
    .details-contet {
      color: $color-primary;
    }
  }

  .date-and-code {
    margin-top: 0.5rem;
    border-top: 0.1rem solid $color-grey-dark-2;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    width: 90%;
    & > * {
      margin: 0 2rem;
    }
    .details-contet {
      color: $color-primary;
    }
  }
}

@media (max-width: 991px) {
  .cv-card {
    .cv-card__user-name {
      font-size: 2.4rem;
    }

    .basic-information-about-use {
      flex-direction: column;
    }
    .skills {
      padding-left: 0;
    }
    .date-and-code {
      flex-direction: column;
    }
  }
}
