$color-primary: #f1923d;
$color-primary-light-1: #f2a710;
$color-primary-light-2: #ffdbc0;
$color-primary-light-3: #fce9d9;

$color-grey-light-1: #fff;
$color-grey-light-2: #faf9f9;
$color-light-opacity: rgba($color-grey-light-1, 0.6);

$color-black: #000;
$color-grey-dark-1: #3d3d3d;
$color-grey-dark-2: #777;
$color-grey-dark-3: #adadad;

$custom-button-box-shadow-1: 0 0 1.5rem rgba($color-black, 0.2);
$custom-button-box-shadow-2: 0 0.9rem 1.4rem rgba($color-black, 0.2);
$custom-box-shadow-1: 0 1.5rem 4rem rgba($color-black, 0.15);
