@import '../../sass/variables';

.btn {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  transition: all 0.2s;
  white-space: nowrap;
  &:focus {
    box-shadow: none;
  }
}

.solid-btn {
  background-color: $color-primary;
  color: $color-grey-light-1;
  box-shadow: $custom-button-box-shadow-1;

  &:hover {
    transform: translateY(-0.2rem);
    background-color: darken($color: $color-primary, $amount: 4);
    box-shadow: $custom-button-box-shadow-2;
    color: $color-grey-light-1;
  }
  &:active {
    transform: translateY(0.1rem);
    box-shadow: $custom-button-box-shadow-1;
  }
}

.text-button {
  display: flex;
  align-items: center;
  color: $color-primary;
  padding: 1.5rem;

  .left-arrow {
    width: 1.4rem;
    margin: 0 1rem;
    transition: all 0.3s;
  }

  &:hover {
    color: $color-primary;
    vertical-align: center;
    .left-arrow {
      transform: translateX(0.2rem);
    }
  }
  &:active {
    .left-arrow {
      transform: translateX(1rem);
    }
  }
}
