@import '../../sass/variables';
.blog {
  display: flex;

  .site-main {
    display: flex;
    flex-wrap: wrap;
  }

  .side-widget {
    font-size: 1.6rem;

    &__header {
      margin: 1rem 0;
    }

    &__title {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 1.3rem 0;
      text-transform: capitalize;
    }
    &__img {
      width: 10rem;
    }
    @media (max-width: 1199px) {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  #content {
    .site-main {
      article {
        width: 100%;
      }
    }
    .side-widget {
      display: none;
    }
  }
}
