.typography {
  white-space: pre-line;
}
.primary-typography {
  font-size: 5rem;
  line-height: 6.3rem;
  font-weight: bold;
}
.secondary-typography {
  font-size: 3.5rem;
  line-height: 4.3rem;
  font-weight: bold;
}

.tertiary-typography {
  font-size: 1.9rem;
}
