@import '../../sass/_variables.scss';
.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-light-opacity;
  box-shadow: $custom-box-shadow-1;
  padding: 5rem 1.4rem;
  text-align: center;
  border-radius: 10px;
  width: 27rem;
  min-height: 27rem;
  transition: transform 0.3s;
  margin: 2rem;

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__icon {
    width: 9rem;
    height: auto;
    margin-bottom: 2rem;
  }

  &__card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.7rem;
    color: $color-grey-dark-2;
    line-height: 2rem;
    white-space: pre-line;
  }
}

@media (max-width: 767px) {
  .feature-box {
    width: 100%;
  }
}
