@import '../../sass/variables';

.cv-search {
  display: flex;
  align-items: center;

  flex-direction: column;
  width: inherit;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__search-input-container {
    display: flex;
    width: 50%;
    box-shadow: 0 0 1.3rem rgba(0, 0, 0, 0.1);
    resize: none;
    font-size: 1.8rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $color-grey-light-1;
  }
  &__search-input {
    border: none;
    width: 100%;
    background-color: inherit;
    outline: none;
    &::placeholder {
      font-size: 1.8rem;
      color: $color-grey-dark-2;
    }
  }
  &__search-icon {
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }
  @media (max-width: 991px) {
    &__header {
      flex-direction: column;
    }
    &__search-input-container {
      width: 100%;
    }
  }
}
