@import '../../sass/variables';

.theerd-layout {
  .u-center-text {
    text-align: center;
    margin-top: 5rem;

    transition: all 0.2s;
    &:hover {
      transform: skewY(1.4deg) skewX(10deg) scale(1.1);
    }
  }
  .section-about {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heading-tertiary {
      font-size: 1.6rem;
      font-weight: 800;
      text-transform: uppercase;
    }
    .composition {
      position: relative;

      &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 0.5rem;
        position: absolute;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 1.5rem;
        &--p1 {
          left: 0;
          top: -2rem;
        }
        &--p2 {
          right: 0;
          top: 2rem;
        }
        &--p3 {
          left: 20%;
          top: 10rem;
        }
        &:hover {
          outline: 1.5rem solid $color-primary;
          transform: scale(1.05) translateY(-0.5rem);
          box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
          z-index: 20;
        }
      }
    }
    .composition:hover .composition__photo:not(:hover) {
      transform: scale(0.95);
    }

    @media (max-width: 991px) {
      & {
        padding: 55px 0;
        min-height: 69vh;
        display: flex;
        justify-content: flex-start;

        &__description {
          text-align: center;
          padding-bottom: 6.5rem;
        }
      }
    }
  }
}
