.banner {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 0.1rem solid $color-grey-dark-3;

  &__text {
    background-color: $color-primary-light-3;
    color: $color-primary;
    opacity: 1;
    padding: 0.3rem;
    margin: 0 1rem;
    border-radius: 0.4rem;

    @media (max-width: 506px) {
      & {
        font-size: 1.3rem;
        margin: 0 0rem;
      }
    }
  }

  &__nav {
    display: flex;
    margin: 0 1rem;
  }

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;

    .icon {
      width: 1.8rem;
      margin: 0 0.6rem;
      fill: #9c9a9e;
      transition: all 0.2s;
    }

    &:hover {
      .icon {
        fill: $color-primary;
      }
      color: $color-primary;
    }
  }
}
